public net.minecraft.world.entity.LivingEntity SLOW_FALLING_ID
public net.minecraft.world.level.material.Fluid randomTick
#public net.minecraft.world.level.block.FarmBlock isNearWater(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z
# isNearWater#
public net.minecraft.world.level.block.FarmBlock m_10126_(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z # isNearWater
public net.minecraft.world.level.biome.Biome m_47525_(Lnet/minecraft/core/BlockPos;)F # getTemperature